body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img, abbr {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ul li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.3;
    color: #2b1e40;
    font-weight: 500;
    font-size: 16px;
}

* {
    outline: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.overflow-x {
    overflow-x: hidden;
}

.d-inline-block {
    display: inline-block;
}

.mobile-hide {
    display: none;
}

.desktop-hide {
    display: block;
}

.title-icon {
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    display: table;
    text-align: center;
    box-shadow: 0 0 21px rgba(227, 231, 240, 0.66);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -25px;
}

.footer {
    margin: 30px 0 10px;
}

.only-desctop {
    display: none;
}

.wrapper {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

aside {
    display: none;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.h1 {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
}

.h2 {
    font-size: 25px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.text-red {
    color: #ff006d;
}

a {
    color: #3b61ea;
}

a:hover {
    text-decoration: none;
}

.color-white {
    color: #ffffff !important;
}

.color-rose {
    color: #ff006d;
}

.twitter {
    border: 1px solid #efefef;
    background: #ffffff;
    padding: 10px;
    margin: 30px 0 20px;
}

.twitter__icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.top-rating {
    background: url("../img/top-rating.jpg") center;
    padding: 10px;
    background-size: cover;
}

.top-rating__item {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top-rating__item-name {
    vertical-align: middle;
    width: 178px;
    text-align: right;
    padding-right: 10px;
}

.top-rating__item-bar {
    height: 16px;
    background-color: #8e37b9;
    vertical-align: middle;
    background-image: linear-gradient(to top, rgba(0, 0, 4, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.top-rating__item-bar_1 {
    width: 302px;
}

.top-rating__item-bar_2 {
    width: 272px;
}

.top-rating__item-bar_3 {
    width: 172px;
}

.top-rating__item-bar_4 {
    width: 153px;
}

.top-rating__item-bar_5 {
    width: 123px;
}

.top-rating__item-bar_6 {
    width: 93px;
}

.top-rating__item-percent {
    vertical-align: middle;
}

.product-list__item-img {
    height: 190px;
    margin: 15px auto 5px;
}

.product-list__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.42px;
}

.product-list {
    font-size: 0;
    padding: 15px;
}

.product-list__item {
    width: calc(100% / 3);
    padding: 0 5px;
    position: relative;
}

.product-list__item:after {
    content: '';
    position: absolute;
    background: #d7ddea;
    width: 1px;
    height: 100%;
    right: 5px;
    top: 0;
}

.product-list__item:last-child:after {
    display: none;
}

.product-list__item:nth-child(2), .product-list__item:nth-child(3) {
    filter: blur(2px);
}

.product-list__item:nth-child(2) .product-list__item-img img {
    margin-top: 10px;
}

.product-list__item-position {
    color: #ff006d;
    font-size: 20px;
    font-weight: 700;
    line-height: 21.27px;
    letter-spacing: -0.6px;
    text-align: center;
}

.twitter__date, .twitter__stat {
    font-size: 13px;
    color: #b9c0c8;
}

.twitter__stat {
    margin: 8px 0 0px -4px;
}

.browser {
    position: relative;
    margin: 40px auto 15px;
    zoom: 0.57; }

.browser:after {
    content: '';
    position: absolute;
    background: url("../img/top-rating-header.jpg");
    width: 100%;
    height: 27px;
    top: -27px;
    left: 0;
    border-radius: 3px 3px 0 0;
}

.browser_border {
    border: 1px solid rgba(0, 0, 0, 0.13);
    background: #ffffff;
}

.insta {
    background: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.11);
    position: relative;
    max-width: 300px;
    text-align: left;
    margin: 1.875em auto;
}

.insta-top, .insta__header {
    padding: .3em .5em;
    position: relative;
}

.insta-top {
    background: #fafafa;
    padding: 4px 8px 0;
}

.insta-top__img {
    display: inline-block;
}

.insta-top {
    width: 100%;
}

.insta-top__time {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.insta__ava {
    width: 29px;
    display: inline-block;
    vertical-align: middle;
}

.insta__actions {
    display: none;
}

.insta__action {
    display: inline-block;
    padding: 0 .3125rem;
    vertical-align: middle;
    line-height: 0;
}

.insta__action img {
    height: 18px;
}

.insta__action:last-child {
    position: absolute;
    right: 0;
}

.insta__user__info {
    padding: 0 .75em 0 .3125em;
    width: calc(100% - 45px - 4px);
    display: inline-block;
    vertical-align: middle;
}

.insta__likes, .insta__name {
    font-size: 12px;
    font-weight: 700;
}

.insta__name {
    color: #262626;
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 5px;
}

.insta__name_verif span {
    position: relative;
}

.insta__name_verif span:after {
    content: '';
    position: absolute;
    background: url("../img/verprofile.png");
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 50%;
    margin-top: -6px;
    right: -14px;
}

.insta__subscriptions {
    display: inline-block;
    font-size: 12px;
    position: relative;
    width: 65px;
}

.insta__subscriptions:after {
    content: '';
    position: absolute;
    background: url("../img/dots.png") no-repeat;
    background-size: cover;
    width: 10px;
    height: 3px;
    right: -5px;
    top: 50%;
    margin-top: -2px;
}

.insta__likes {
    color: #303030;
    margin-top: .625em;
    filter: blur(2px);
}

.insta__text {
    font-size: 12px;
    padding: 10px 10px 45px;
    color: #333;
}

.insta__text .blue {
    color: #1d62a6;
}

.insta_left {
    float: left;
    margin-right: 40px;
}

.insta__local {
    font-size: .75em;
    line-height: 1;
}

.insta__photo {
    position: relative;
    width: 100%;
    line-height: 0;
}

.insta__photo img {
    position: relative;
    top: -30%;
}

.insta__content {
    padding: .625em;
}

.insta-footer {
    background: #fafafa;
    padding: .875rem .625rem;
    font-size: 0;
    border-top: 1px solid #e2e2e2;
}

.insta-footer__item {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 5);
    text-align: center;
    line-height: 0;
}

.insta-footer__item img {
    height: 20px;
}

.insta__likes__left {
    line-height: 0;
}

.insta__likes__left, .insta__likes__right {
    display: inline-block;
    vertical-align: middle;
}

.insta__date {
    font-size: .75em;
    filter: blur(2px);
}

.insta__comment {
    padding: 10px;
}

.insta__comment-text {
    font-size: 13.5px;
    font-weight: normal;
    margin-top: 5px;
}

.insta__comment-text img {
    vertical-align: initial;
}

.insta__comment-item {
    margin-bottom: 15px;
}

.insta__comment-item .insta__name {
    width: calc(100% - 41px);
}

.insta__comment-item-blure {
    filter: blur(2px);
}

.insta__comment-item .insta__ava, .insta__comment-item .insta__name {
    vertical-align: top;
}

.insta__content-footer:after {
    display: none;
}

.add-comment {
    display: none;
}

.btn {
    width: 100%;
    max-width: 222px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(255, 0, 109, 0.46);
    border-radius: 32px;
    background: #ff006d;
    color: #fffefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    -webkit-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.comments-wrap {
    box-shadow: 0 0 21px rgba(227, 231, 240, 0.66);
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin-top: 30px;
    position: relative;
}

.comment-bg {
    background: #fafbfc;
    padding: 10px;
    margin-top: 45px;
}

.comment__item {
    margin-bottom: 20px;
}

.comment__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.comment__item_level-2 {
    padding-left: 50px;
}

.comment__item_level-3 {
    padding-left: 50px;
}

.comment__item_level-2-wrap {
    border: 1px solid #cdd5e5;
    background: #ffffff;
    padding: 10px;
    position: relative;
}

.comment__item_level-2-wrap:after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.comment__item_level-2-wrap:before {
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-bottom: 11px solid #cdd5e5;
    left: 19px;
    top: -23px;
}

.comment__item-ava {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
}

.comment__item-info {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
    padding-left: 5px;
}

.comment__item-info-name {
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.comment__item-info-date {
    color: #8935b6;
    font-size: 13px;
    font-weight: 400;
}

.comment__item-text {
    color: #353535;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 10px;
}

.comment__item-img {
    margin-top: 10px;
}

.comment__item-extra {
    color: #8935b6;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.comment__item-extra img {
    vertical-align: initial;
}

.comments-title {
    color: #8935b6;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.textarea-field {
    width: 100%;
    padding: 10px;
    height: 93px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 15px;
    font-size: 14px;
}

.comment-add-parent {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #fafbfc;
    margin-top: 15px;
}

.add-comment-push {
    border: 1px solid #2a65d0;
    background-color: #5a8fef;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    border-radius: 3px;
    /* width: 125px; */
}

.add-comment-cancel {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid #dedede;
    background-color: #f3f3f3;
    text-decoration: none;
    padding: 8px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
    color: #505050;
    border-radius: 3px;
    position: absolute;
    right: 0;
}

.comment-add-icons {
    display: none;
}

.header {
    background: linear-gradient(to left, #8935b6 0%, #8935b6 50%, #000000 50%, #000000 50%, #000000 100%);
    padding: 6px 10px;
    position: relative;
    box-shadow: 0 0 18px rgba(73, 44, 118, 0.78);
}

.logo {
    width: 115px;
}

.logo_aside {
    width: 110px;
    padding-left: 5px;
}

.burger {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

.menu-wrap {
    display: none;
}

.header-groupe {
    display: none;
}

.menu {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.menu__item {
    display: inline-block;
    padding: 0 25px;
}

.menu__item-link {
    color: #ffffff;
    text-decoration: none;
}

.menu__item-link img {
    vertical-align: top;
    margin-right: 2px;
}

.article {
    box-shadow: 0 0 21px rgba(227, 231, 240, 0.66);
    border-radius: 10px;
    background: #ffffff;
    margin-top: 15px;
    padding: 10px;
}

.social-icons {
    margin: 10px 0;
}

.article-content {
    color: #636363;
}

.article-content b {
    color: #000000;
}

.author_line {
    border-bottom: 1px solid #e9ebef;
    padding-bottom: 10px;
    margin: 20px 0 15px;
}

.author__ava {
    width: 42px;
    vertical-align: middle;
}

.author__info {
    width: calc(100% - 146px);
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px;
}

.author__info-name {
    font-weight: bold;
}

.author__info-date {
    color: #999999;
}

.author_stat {
    font-size: 11px;
    width: 95px;
    vertical-align: top;
    margin-top: 4px;
    padding-left: 5px;
}

.author_stat_item {
    margin-right: 5px;
}

.author_stat_item img {
    width: 19px;
}

.author_stat_item:last-child {
    margin-right: 0;
}

.product {
    margin: 20px auto 20px;
    max-width: 180px;
}

.line {
    border-top: 1px solid #e9ebef;
    margin-top: 20px;
}

.blockquote {
    background: #f5f6f8;
    padding: 30px 20px 20px 20px;
    margin: 25px 0;
    position: relative;
}

.blockquote:after {
    content: '';
    background-image: url("../img/quotes.png");
    width: 42px;
    height: 28px;
    position: absolute;
    background-size: cover;
    top: -15px;
}

.blockquote__img {
    float: right;
    width: 80px;
    font-size: 14px;
    position: relative;
    margin-left: 16px;
}

.blockquote__img:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #c8c8c8;
    position: absolute;
    left: -10px;
    top: 0;
}

.blockquote__text p {
    margin-bottom: 30px;
}

.article-top {
    display: none;
}

.share {
    margin-bottom: 15px;
    position: relative;
}

.share:before {
    content: '';
    background: url("../img/icon-6.jpg");
    position: absolute;
    width: 48px;
    height: 33px;
    right: 0;
    top: -4px;
}

.share-text {
    padding-left: 16px;
    vertical-align: middle;
}

.share-text:after {
    content: '';
    width: 1px;
    height: 20px;
    background: #e9edee;
    left: 26px;
    top: 50%;
    margin-top: -10px;
    position: absolute;
}

.blockquote__img_desktop {
    display: none;
}

.aside__item {
    box-shadow: 0 0 21px rgba(227, 231, 240, 0.66);
    border-radius: 10px;
    background: #ffffff;
    padding: 20px 10px;
    position: relative;
}

.aside__item-title {
    color: #8935b6;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 15px;
}

.aside-list__item-img {
    width: 87px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.aside-list__item-img:after {
    content: '';
    position: absolute;
    background: #ff006d;
    width: 5px;
    height: 100%;
    right: 0;
}

.aside-list__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c2c2c2;
}

.aside-list__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.aside-list__item-text {
    display: inline-block;
    width: calc(100% - 92px);
    vertical-align: top;
    padding-left: 10px;
}

.aside-list__item-text-title {
    font-size: 14px;
}

.aside-list__item-extra {
    font-size: 12px;
    color: #8935b6;
    margin-top: 10px;
}

.aside-list__item-extra-data {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.aside-list__item-extra-icon {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.aside-list__item-text-link {
    text-decoration: none;
    color: #000000;
}

.aside-list__item-text-link:hover {
    text-decoration: underline;
}

.aside__order {
    background-image: url("../img/aside-order.jpg");
    width: 250px;
    height: 350px;
    background-size: cover;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
}

.aside__order .bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    max-width: 184px;
}

.aside__order .bottom .btn {
    font-size: 18px;
}

.product-1 {
    position: absolute;
    bottom: 75px;
    right: 0;
}

.aside-facebook {
    background-image: url("../img/aside-facebook.jpg");
    background-size: cover;
    width: 250px;
    height: 163px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.aside-facebook-action {
    position: absolute;
    bottom: 20px;
}

.aside-facebook-action__item {
    background: #f5f6f7;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
    padding: 2px 5px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.9px;
}

@media screen and (min-width: 560px) {
    .wrapper {
        max-width: 100%;
    }

    .browser {
        zoom: 1; max-width: 555px;
    }
}

@media screen and (min-width: 780px) {
    .wrapper {
        max-width: 720px;
    }

    .twitter {
        padding: 20px;
    }

    .top-rating {
        padding: 20px;
    }

    .browser {
        zoom: 1; }
}

@media screen and (min-width: 991px) {
    body {
        font-size: 18px;
        background: #f5f6f8;
    }

    .mobile-hide {
        display: block;
    }

    .desktop-hide {
        display: none;
    }

    .only-mobile {
        display: none;
    }

    .only-desctop {
        display: block;
    }

    .wrapper {
        max-width: 1040px;
    }

    .main {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 255px);
        padding-right: 20px;
    }

    aside {
        display: inline-block;
        vertical-align: top;
        width: 250px;
    }

    .h1 {
        font-size: 34px;
        line-height: inherit;
    }

    .insta__actions {
        display: block;
        font-size: 0;
        margin: 0 -.3125em;
        position: relative;
    }

    .insta {
        max-width: 700px;
        display: table;
        width: 100%;
    }

    .insta__header {
        padding: 10px;
        border-bottom: 1px solid #eaeaea;
    }

    .insta-top {
        display: none;
    }

    .insta__ava {
        width: 36px;
    }

    .insta__ava img {
        border-radius: 50%;
    }

    .insta__actions {
        margin: 0 -.625rem;
    }

    .insta__action {
        padding: 0 .625rem;
    }

    .insta__action img {
        height: 23px;
    }

    .insta__user__info:before {
        height: 4px;
        width: 13px;
    }

    .insta__user__info {
        width: calc(100% - 41px - 4px);
        padding: 0;
    }

    .insta__likes {
        margin-top: 1.25em;
    }

    .insta__content {
        border-top: 1px solid #eaeaea;
        padding: 20px 10px;
    }

    .insta-footer {
        display: none;
    }

    .insta__date {
        font-size: .875em;
    }

    .insta__video, .insta__wrap {
        display: table-cell;
        vertical-align: top;
    }

    .insta__video {
        width: 400px;
    }

    .insta__wrap {
        width: calc(100% - 400px - 4px);
        position: relative;
    }

    .add-comment {
        display: none;
    }

    .add-comment div {
        resize: none;
        border: 0;
        height: 30px;
        line-height: 30px;
        display: inline-block;
    }

    .insta__content-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .insta__content-footer:after {
        display: block;
        content: '';
        position: absolute;
        background-image: url("../img/more.jpg");
        width: 24px;
        height: 26px;
        top: -40px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .btn {
        max-width: 257px;
        font-size: 24px;
    }

    .comments-wrap {
        padding: 30px;
        margin-top: 50px;
    }

    .comment-bg {
        padding: 25px;
    }

    .comment__item_level-2 {
        padding-left: 68px;
    }

    .comment__item_level-3 {
        padding-left: 145px;
    }

    .comment__item-ava {
        width: 54px;
        vertical-align: top;
    }

    .comment__item-info {
        width: calc(100% - 59px);
        vertical-align: top;
        padding-left: 10px;
    }

    .comment__item-info-name {
        display: inline;
    }

    .comment__item-info-date {
        display: inline;
        margin-left: 10px;
    }

    .comment__item-text {
        padding-left: 68px;
        margin-top: -32px;
    }

    .comment__item-img {
        padding-left: 68px;
    }

    .comment__item-extra {
        padding-left: 68px;
    }

    .textarea-field {
        font-size: 16px;
    }

    .comment-add-parent {
        padding: 25px;
    }

    .add-comment-cancel {
        margin-left: 10px;
        position: relative;
    }

    .comment-add-icons {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .header {
        background: linear-gradient(to left, #8935b6 0%, #8935b6 calc(50% + 320px), #000000 400px, #000000 400px, #000000 100%);
        margin-bottom: 40px;
        padding: 6px 0;
    }

    .logo {
        width: 135px;
        display: inline-block;
        vertical-align: middle;
    }

    .burger {
        display: none;
    }

    .menu-wrap {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 240px);
        text-align: right;
    }

    .header-groupe {
        display: inline-block;
        vertical-align: middle;
        width: 95px;
    }

    .article {
        padding: 20px;
        margin-top: 0;
    }

    .author__info {
        width: calc(100% - 212px);
    }

    .author__info-name {
        display: inline-block;
    }

    .author__info-date {
        display: inline-block;
        margin-left: 10px;
    }

    .author_stat {
        vertical-align: middle;
        color: #999999;
        font-size: 11px;
        font-weight: 700;
        width: 160px;
        text-align: right;
    }

    .author_stat_item {
        margin-right: 15px;
    }

    .author_stat_item img {
        width: 33px;
        margin-right: 5px;
    }

    .product {
        max-width: 310px;
    }

    .blockquote {
        margin: 40px 0 20px;
    }

    .blockquote:after {
        width: 68px;
        height: 46px;
    }

    .article-top {
        display: block;
        color: #97a7be;
        font-size: 13px;
    }

    .blockquote__text-desktop {
        display: inline-block;
        width: calc(100% - 226px);
    }

    .blockquote__img_desktop {
        display: inline-block;
        width: 200px;
    }
}

@media screen and (min-width: 991px) and (min-width: 991px) {
    .add-comment {
        display: block;
        bottom: 0;
        line-height: 0;
        border-top: 1px solid #eaeaea;
        padding: .625em;
        font-size: 14px;
        width: 100%;
    }
}
